.content {
    height: calc(100vh - 200px);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;

    .input-form {
        margin-bottom: 20px;
    }
}
